.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.App-main {
  margin: 0 auto;
  max-width: 64rem;
}

.App-link {
  color: rgb(112, 76, 182);
}

.goBack {
  margin-bottom: 1.5rem;
}

.App-main-2-form {
  margin: 3rem 0 2rem;
}

.App-main-2-fields {
  display: flex;
  margin-bottom: 2rem;
}

.control {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.App-main-2-control-group {
  margin: 0 1rem;
}

.App-main-2-control-group .title {
  margin-bottom: 1.5rem;
}

.App-main-2-control-group p {
  text-align: left;
  margin-top: 1rem;
  background-color: #efefef;
  border-radius: 2px;
  padding: .25rem .5rem;
}

.control span {
  margin-right: 1rem;
}